@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Cinzel+Decorative:wght@700;900&family=Titillium+Web:wght@400;600&display=swap');


$primaryColorL: #FFFFFF;
$primaryColorD: #212121;

$secondaryColor: #009688;



@mixin mediaXl{
    @media screen and (max-width: 1171px){
        @content;
    }
}
@mixin mediaLrg{
    @media screen and (min-width:761px) and (max-width: 1170px){
        @content;
    }
}
@mixin mediaMdm{
    @media screen and (max-width: 760px){
        @content;
    }
}
@mixin mediaSmll{
    @media screen and (max-width: 500px){
        @content;
    }
}